/* card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
} */
.cards{
    background-color: #fcca46;
    /* width: 45%; */
    margin: none;
    Padding:1.5em;
}

.establishmentCardInfoCSS{
    background-color: #fcca46;
    color: whitesmoke;
}

.card-body {

    float: right;
    background-color: #a1c181;
    /* width: 45%; */
    width: 100%

}

.messageForm {
    /* width: 45%; */
    background-color: #a1c181;
    display:flex;
    flex-direction: column;
    /* width: 45%; */
    justify-content: center;
}

#addMessage{
    width: 90%;
    height: 10em;
    display: flex;
    justify-content: center;
}

.form-group {
    display: flex;
    justify-content: center;
}

.bloop{
    color: whitesmoke;
    width:50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;




}

.bleep {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:50%;
    background-color: #fcca46;
}

.messages {
    /* width: 45%; */
}

.section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}