.login {
    background-image: url(../login/Maze-Maker_1.jpg);
    background-color: #cccccc;
    width: 100vw;
    height: 100vh;
    background-repeat: round;
    position: absolute;
    display: flex;
    justify-content:center;
    /* image: url(./Maiz.png); */


 }
#logo {
    content: url(../login/Maiz.png);
    height:36%;
    width: 22%;
    background-color: whitesmoke;
    display: flex;
    position: absolute;
    opacity:.9;
    border-radius: 20px;
    margin-top: 5%;

}
 .loginForm {

    background: whitesmoke;
    border-radius: 20px;
    /* opacity: .8; */
    width: 20em;
    position: absolute;
    margin-top: 30%;
    opacity:.9;


 }

 #email {
     margin-top: 2em;
     margin-bottom: 1em;
     margin-left: 25%;
    margin-right: 25%;
    border-radius: 5px;
 }
  #username, #password {
     margin-top: 1em;
     margin-bottom: 1em;
     margin-left: 25%;
    margin-right: 25%;
    border-radius: 5px;
    /* background-color: whitesmoke; */

 }

 #login{
    margin-left: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
 }

 #register{
    border-radius: 5px;
 }

 #loginButtons {
    margin-top: 1em;
     margin-bottom: 1em;
     margin-left: 28%;
    margin-right: 20%;

 }




